.footer {
    background-color: var(--main-color);
    color: white;
    display: grid;
    justify-content: center;
    padding: 70px 0;
    font-size: 25px;
    gap: 20px;
    text-transform: capitalize;
}
.footer .links , .icons {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}